services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file: '.env'
    ports:
      - 5432:5432
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    networks:
      - demo

networks:
  demo:
